# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests
# Datasource local storage ignored files
.idea/dataSources
.idea/dataSources.local.xml

# flyctl launch added from node_modules/.pnpm/digest-fetch@1.3.0/node_modules/digest-fetch/.gitignore
!node_modules/.pnpm/digest-fetch@1.3.0/node_modules/digest-fetch/**/.gitignore
node_modules/.pnpm/digest-fetch@1.3.0/node_modules/digest-fetch/**/node_modules
node_modules/.pnpm/digest-fetch@1.3.0/node_modules/digest-fetch/**/packing
node_modules


# flyctl launch added from node_modules/digest-fetch/.gitignore
!node_modules/digest-fetch/**/.gitignore
node_modules/digest-fetch/**/node_modules
node_modules/digest-fetch/**/packing

fly.toml
